@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-06 14:46:31
 * @version $Id$
 */
.flexbox1{
	width:800px;
	height:600px;
	background-color:#cdd3f5;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
}
.flex-item1{
	width:760px;
	height:120px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#99bd90;
	margin:20px 20px 10px 20px;
	display:flex;
	justify-content: flex-start;
	align-items: center;
}
.flex-item2{
	width:760px;
	height:410px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#99bd90;
	margin:10px 20px 10px 20px;
	display:flex;
	justify-content: flex-start;
}

.flex-item1-1{
	width:80px;
	height:80px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#cdd3f5;
	margin:20px;
}
.flex-item1-2{
	width:80px;
	height:80px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#cdd3f5;
	margin:20px;
}
.flex-item1-3{
	width:80px;
	height:80px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#cdd3f5;
	margin:20px;
}
.flex-item1-4{
	width:80px;
	height:80px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#cdd3f5;
	margin:20px;
}
.flex-item1-5{
	width:80px;
	height:80px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#cdd3f5;
	margin:20px 20px 20px 180px;
}
.flex-item2-1{
	width:200px;
	height:370px;
	margin:20px;
}

.flex-item2-1-1{
	width:200px;
	height:300px;
}
.flex-item2-1-2{
	width:200px;
	height:50px;
	display: flex;
	flex-direction:row;
}
.flex-item2-1-1-1{
	width:200px;
	height:300px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#cdd3f5;
}

.flex-item2-1-2-1{
	width:50px;
	height:50px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#cdd3f5;
	margin:20px 0px 20px 0px;
}
.flex-item2-1-2-2{
	width:50px;
	height:50px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#cdd3f5;
	margin:20px 0px 20px 25px;
}
.flex-item2-1-2-3{
	width:50px;
	height:50px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#cdd3f5;
	margin:20px 0px 20px 25px;
}
.flex-item2-2{
	width:480px;
	height:370px;
	margin:20px;
	display: flex;
	flex-direction:column;
}
.flex-item2-2-1{
	height:40px;
	width:480px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#cdd3f5;
}
.flex-item2-2-2{
	height:40px;
	width:480px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#cdd3f5;
	margin-top:15px;
}
.flex-item2-2-3{
	height:40px;
	width:480px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#cdd3f5;
	margin-top:15px;
}
.flex-item2-2-4{
	height:40px;
	width:480px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#cdd3f5;
	margin-top:15px;
}
.flex-item2-2-5{
	height:40px;
	width:480px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#cdd3f5;
	margin-top:15px;
}
.flex-item2-2-6{
	height:40px;
	width:480px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#cdd3f5;
	margin-top:15px;
}
.flex-item2-2-7{
	height:40px;
	width:480px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:#cdd3f5;
	margin-top:15px;
}





.flexbox2{
	position:absolute;
	top:650px;
	width:390px;
	height:370px;
	background-color:#ffffeb;
}
.item1{
	width:390px;
	height:260px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
}
.item2{
	width:390px;
	height:110px;
	border-left:1px solid #000;
	border-bottom:1px solid #000;
	border-right:1px solid #000;
	display: flex;
	flex-direction:column;
}
.item2-1{
	width:370px;
	height:20px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:white;
	margin:10px 10px 5px 10px;
	font-size:smaller;
	color:black;
}
.item2-2{
	width:370px;
	height:20px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:white;
	margin:5px 10px 5px 10px;
	font-size:smaller;
	color:#f71548;
}
.item2-3{
	width:370px;
	height:30px;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	background-color:white;
	margin:5px 10px 10px 10px;
	display: flex;
	flex-direction:row;
}
.item2-3-11{
	width:10px;
	margin-top:7px;
	margin-left:2px;
	font-size:x-small;
	color:#f71548;
}
.item2-3-1{
	width:70px;
	margin-top:3px;
	font-size:medium;
	color:#f71548;
}
.item2-3-2{
	width:220px;
	margin-top:9px;
	font-size:xx-small;
	color:gray;
}
.item2-3-3{
	margin-top:9px;
	font-size:xx-small;
	color:gray;
}






.flexbox3{
	position:absolute;
	top:1050px;
	width:1215px;
	height:770px;
	display: flex;
	flex-wrap:wrap;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
}
.item3-1{
	width:390px;
	height:370px;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
	margin:10px;
}
.item3-1-1{
	width:390px;
	height:260px;
}
.item3-1-2{
	width:390px;
	height:110px;
	border-top:solid 1px lightgray;
	display: flex;
	flex-direction:column;
}
.item3-1-2-1{
	width:370px;
	height:20px;
	background-color:white;
	margin:10px 10px 0px 10px;
	font-size:smaller;
	color:black;
}
.item3-1-2-2{
	width:370px;
	height:15px;
	background-color:white;
	margin:10px 10px 5px 10px;
	font-size:smaller;
	display:flex;
	flex-wrap: wrap;;
}
.item3-1-2-2-1{
	color:#f71548;
}
.item3-1-2-2-2{
	color:lightgray;
}
.item3-1-2-3{
	width:370px;
	height:30px;
	background-color:white;
	margin:5px 10px 10px 10px;
	display: flex;
	flex-direction:row;
}
.item3-1-2-3-11{
	width:10px;
	margin-top:12px;
	margin-left:2px;
	font-size:x-small;
	color:#f71548;
}
.item3-1-2-3-1{
	width:70px;
	margin-top:1px;
	font-size:xx-large;
	color:#f71548;
}
.item3-1-2-3-2{
	width:220px;
	margin-top:15px;
	font-size:x-small;
	color:gray;
}
.item3-1-2-3-31{
	margin-top:15px;
	font-size:xx-small;
	color:#f71548;
}
.item3-1-2-3-3{
	margin-top:15px;
	font-size:xx-small;
	color:gray;
}
.item3-2{
	width:390px;
	height:370px;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
	margin:10px 0px 10px 0px;
}
.item3-2-1{
	width:390px;
	height:260px;
}
.item3-2-2{
	width:390px;
	height:110px;
	border-top:solid 1px lightgray;
	display: flex;
	flex-direction:column;
}
.item3-2-2-1{
	width:370px;
	height:20px;
	background-color:white;
	margin:10px 10px 5px 10px;
	font-size:smaller;
	color:black;
}
.item3-2-2-2{
	width:370px;
	height:20px;
	background-color:white;
	margin:10px 10px 5px 10px;
	font-size:smaller;
	display:flex;
	flex-wrap: wrap;
}
.item3-2-2-2-1{
	color:#f71548;
}
.item3-2-2-2-2{
	color:lightgray;
}
.item3-2-2-3{
	width:370px;
	height:30px;
	background-color:white;
	margin:5px 10px 10px 10px;
	display: flex;
	flex-direction:row;
}
.item3-2-2-3-11{
	width:10px;
	margin-top:12px;
	margin-left:2px;
	font-size:x-small;
	color:#f71548;
}
.item3-2-2-3-1{
	width:70px;
	margin-top:1px;
	font-size:xx-large;
	color:#f71548;
}
.item3-2-2-3-2{
	width:220px;
	margin-top:15px;
	font-size:x-small;
	color:gray;
}
.item3-2-2-3-31{
	margin-top:15px;
	font-size:xx-small;
	color:#f71548;
}
.item3-2-2-3-3{
	margin-top:15px;
	font-size:xx-small;
	color:gray;
}
.item3-3{
	width:390px;
	height:370px;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
	margin:10px 0px 10px 10px;
}
.item3-3-1{
	width:390px;
	height:260px;
}
.item3-3-2{
	width:390px;
	height:110px;
	border-top:solid 1px lightgray;
	display: flex;
	flex-direction:column;
}
.item3-3-2-1{
	width:370px;
	height:20px;
	background-color:white;
	margin:10px 10px 5px 10px;
	font-size:smaller;
	color:black;
}

.item3-3-2-2{
	width:370px;
	height:15px;
	background-color:white;
	margin:10px 10px 5px 10px;
	font-size:smaller;
	display:flex;
	flex-wrap: wrap;;
}
.item3-3-2-2-1{
	color:#f71548;
}
.item3-3-2-2-2{
	color:lightgray;
}
.item3-3-2-3{
	width:370px;
	height:30px;
	background-color:white;
	margin:5px 10px 10px 10px;
	display: flex;
	flex-direction:row;
}
.item3-3-2-3-11{
	width:10px;
	margin-top:12px;
	margin-left:2px;
	font-size:x-small;
	color:#f71548;
}
.item3-3-2-3-1{
	width:70px;
	margin-top:1px;
	font-size:xx-large;
	color:#f71548;
}
.item3-3-2-3-2{
	width:220px;
	margin-top:15px;
	font-size:x-small;
	color:gray;
}
.item3-3-2-3-31{
	margin-top:15px;
	font-size:xx-small;
	color:#f71548;
}
.item3-3-2-3-3{
	margin-top:15px;
	font-size:xx-small;
	color:gray;
}
.item3-4{
	width:390px;
	height:370px;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
	margin:0px 10px 10px 10px;
}
.item3-4-1{
	width:390px;
	height:260px;
}
.item3-4-2{
	width:390px;
	height:110px;
	border-top:solid 1px lightgray;
	display: flex;
	flex-direction:column;
}
.item3-4-2-1{
	width:370px;
	height:20px;
	background-color:white;
	margin:10px 10px 5px 10px;
	font-size:smaller;
	color:black;
}
.item3-4-2-2{
	width:370px;
	height:15px;
	background-color:white;
	margin:10px 10px 5px 10px;
	font-size:smaller;
	display:flex;
	flex-wrap: wrap;;
}
.item3-4-2-2-1{
	color:#f71548;
}
.item3-4-2-2-2{
	color:lightgray;
}
.item3-4-2-3{
	width:370px;
	height:30px;
	background-color:white;
	margin:5px 10px 10px 10px;
	display: flex;
	flex-direction:row;
}
.item3-4-2-3-11{
	width:10px;
	margin-top:12px;
	margin-left:2px;
	font-size:x-small;
	color:#f71548;
}
.item3-4-2-3-1{
	width:70px;
	margin-top:1px;
	font-size:xx-large;
	color:#f71548;
}
.item3-4-2-3-2{
	width:220px;
	margin-top:15px;
	font-size:x-small;
	color:gray;
}
.item3-4-2-3-31{
	margin-top:15px;
	font-size:xx-small;
	color:#f71548;
}
.item3-4-2-3-3{
	margin-top:15px;
	font-size:xx-small;
	color:gray;
}
.item3-5{
	width:390px;
	height:370px;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
	margin:0px 0px 10px 0px;
}
.item3-5-1{
	width:390px;
	height:260px;
}
.item3-5-2{
	width:390px;
	height:110px;
	border-top:solid 1px lightgray;
	display: flex;
	flex-direction:column;
}
.item3-5-2-1{
	width:370px;
	height:20px;
	background-color:white;
	margin:10px 10px 5px 10px;
	font-size:smaller;
	color:black;
}
.item3-5-2-2{
	width:370px;
	height:15px;
	background-color:white;
	margin:10px 10px 5px 10px;
	font-size:smaller;
	display:flex;
	flex-wrap: wrap;;
}
.item3-5-2-2-1{
	color:#f71548;
}
.item3-5-2-2-2{
	color:lightgray;
}
.item3-5-2-3{
	width:370px;
	height:30px;
	background-color:white;
	margin:5px 10px 10px 10px;
	display: flex;
	flex-direction:row;
}
.item3-5-2-3-11{
	width:10px;
	margin-top:12px;
	margin-left:2px;
	font-size:x-small;
	color:#f71548;
}
.item3-5-2-3-1{
	width:70px;
	margin-top:1px;
	font-size:xx-large;
	color:#f71548;
}
.item3-5-2-3-2{
	width:220px;
	margin-top:15px;
	font-size:x-small;
	color:gray;
}
.item3-5-2-3-31{
	margin-top:15px;
	font-size:xx-small;
	color:#f71548;
}
.item3-5-2-3-3{
	margin-top:15px;
	font-size:xx-small;
	color:gray;
}
.item3-6{
	width:390px;
	height:370px;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
	margin:0px 0px 10px 10px;
}
.item3-6-1{
	width:390px;
	height:260px;
}
.item3-6-2{
	width:390px;
	height:110px;
	border-top:solid 1px lightgray;
	display: flex;
	flex-direction:column;
}
.item3-6-2-1{
	width:370px;
	height:20px;
	background-color:white;
	margin:10px 10px 5px 10px;
	font-size:smaller;
	color:black;
}
.item3-6-2-2{
	width:370px;
	height:15px;
	background-color:white;
	margin:10px 10px 5px 10px;
	font-size:smaller;
	display:flex;
	flex-wrap: wrap;;
}
.item3-6-2-2-1{
	color:#f71548;
}
.item3-6-2-2-2{
	color:lightgray;
}
.item3-6-2-3{
	width:370px;
	height:30px;
	background-color:white;
	margin:5px 10px 10px 10px;
	display: flex;
	flex-direction:row;
}
.item3-6-2-3-11{
	width:10px;
	margin-top:12px;
	margin-left:2px;
	font-size:x-small;
	color:#f71548;
}
.item3-6-2-3-1{
	width:70px;
	margin-top:1px;
	font-size:xx-large;
	color:#f71548;
}
.item3-6-2-3-2{
	width:220px;
	margin-top:15px;
	font-size:x-small;
	color:gray;
}
.item3-6-2-3-31{
	margin-top:15px;
	font-size:xx-small;
	color:#f71548;
}
.item3-6-2-3-3{
	margin-top:15px;
	font-size:xx-small;
	color:gray;
}