/*part one*/
#myMap{
	height: 600px;
	width: 1100px;
	float: left;
	margin:20px;
}
/*part two*/
#Map{
	height: 750px;
	width: 780px;
	float: left;
	margin:20px;
}
#result{
    width: 350px;
    float: left;
    margin-top: 20px;
}
/*part three*/
#schoolMap{
	height: 600px;
	width: 1100px;
	float: left;
	margin:20px;
}
#message{
	height: 100px;
	width: 100px;
	border: 1px solid grey;
	background-color: black;
}
#HZNUmap{
	margin-left: 50px;
	width:900px;
	height: 600px;
}
#shuyuan1{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan2{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan3{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan5{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan7{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan9{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan10{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan11{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan12{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan13{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan14{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan15{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan16{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan17{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan19{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan20{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan21{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan24{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan27{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan28{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan29{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan30{
	width: 300px;
	height: 170px;
	display: none;
}
#shuyuan35{
	width: 300px;
	height: 170px;
	display: none;
}
/*bowenyuan*/
#bo2{
	width: 300px;
	height: 170px;
	display: none;
}
#bo3{
	width: 300px;
	height: 170px;
	display: none;
}
#bo4{
	width: 300px;
	height: 170px;
	display: none;
}
#bo5{
	width: 300px;
	height: 170px;
	display: none;
}
#bo6{
	width: 300px;
	height: 170px;
	display: none;
}
#bo7{
	width: 300px;
	height: 170px;
	display: none;
}
#bo8{
	width: 300px;
	height: 170px;
	display: none;
}
#bo9{
	width: 300px;
	height: 170px;
	display: none;
}
#bo10{
	width: 300px;
	height: 170px;
	display: none;
}

#lan{
	width: 300px;
	height: 170px;
	display: none;
}
#ximen{
	width: 300px;
	height: 170px;
	display: none;
}
#cao{
	width: 300px;
	height: 170px;
	display: none;
}
#tu{
	width: 300px;
	height: 170px;
	display: none;
}
#shi{
	width: 300px;
	height: 170px;
	display: none;
}
#shitang{
	width: 300px;
	height: 170px;
	display: none;
}
#zu{
	width: 300px;
	height: 170px;
	display: none;
}
#bo8{
	width: 300px;
	height: 170px;
	display: none;
}
#nanmen{
	width: 300px;
	height: 170px;
	display: none;
}
#bo10{
	width: 300px;
	height: 170px;
	display: none;
}

.shuyuan-allstars{
	width: 100px;
	height: 30px;
	line-height: 30px;
}
.shuyuan-allstars-star{
	color: orange;
}
.shuyuan-comment{
	margin-top:5px;
	float: left;
	color: black;
	font-size: 15px;
}
.shuyuan-information{
	float: left;
	margin-left: 100px;
	width: 60px;
	height: 25px;
	color: white;
	font-size: 5px;
	line-height: 25px;
	text-align: center;
	background-color: orange;
}
